


<html>  
   <head>
      <title>  profile page {% block title %} {% endblock %} </title>
   <body>  
         <h2>Hello </h2> 

         <form method = "post" action = "/profile/">  
            <table>  
               <tr><td>name</td><td><input type = 'text' name = 'username'></td></tr>  
        
               <tr><td><input type = "submit" value = "Submit"></td></tr>  
             </table>   
         </form> <br><br><br>

         {% block body %}

         {% endblock %}
     
   </body> 
   </head> 
</html>  